@import './assets/styles/mixin';

.containerapp{
    display: grid;
    margin-top: 0px;
    min-height: 69vh;
    margin-bottom: 32px;

    @include respond-to("md"){
       
        grid-template-columns:2fr [x0] 10fr [x1] 2fr [x2];
        grid-template-rows:  [y0] auto [y1] auto [y2];
        &__nav{
           
            grid-column: x0;
            grid-row: y1;
        }
        &__categories{
            grid-column: x0;
            grid-row: y0;
        }
    }
    
}


