.Spinners {

}
.override{
    z-index: 0;
    display: block;
    margin: 0 auto;
    border-color: rgb(0, 255, 115);
    padding: 32px;
    background-color: hotpink;
    font-size: 24px;
    border-radius: 4px;
}